#wrapper {
  width: 94%;
  margin:auto;
  color: #1D5C79;
}

.cost_list {
  float: right;
}

.cost_list table   {
    border-collapse: collapse;  border-spacing: 0;
    width: 100%;
    margin-bottom: 30px;
}
.cost_list th, .cost_list td  {
    padding: 6px 12px;
    color: #1D5C79;
}
.cost_list th {
    border-bottom: 2px solid #1D5C79;
}

.photo_list {
  width: 80%;
}

.selector03{  
  border-left:7px solid #5D9CB9;  
  border-bottom:1px dashed #1D5C79;  
  padding:.3em .4em .1em; 
  font: bold 22px 'arial', sans-serif;
}  

/* --- リストエリア --- */
ul.thumbnail {
width: 100%; /* リストエリアの幅 */
margin: 0;
padding: 6px 0 10px; /* リストエリアのパディング（上、左右、下） */
list-style-type: none;
}

/* --- リスト項目 --- */
ul.thumbnail li {
width: 140px; /* 項目の幅 */
float: left;
}

/* --- 項目内容 --- */
ul.thumbnail dl {
width: 130px; /* 内容の幅 */
margin: 0 auto; /* 内容のセンタリング */
font-size: 80%;
}

/* --- 写真エリア --- */
ul.thumbnail dt {
/* height: 102px; */ /* 写真エリアの高さ（dt要素の高さを指定する場合） */
margin-bottom: 5px; /* 写真エリアの下マージン */
}
ul.thumbnail dt img {
border: 2px #808080 solid; /* 写真の境界線 */
}

/* --- キャプションエリア --- */
ul.thumbnail dd {
margin: 0 0 3px; /* キャプションエリアのマージン（上、左右、下） */
line-height: 120%;
}

ul.thumbnail dt strong{
  color: #888;
}

/* --- clearfix --- */
.clearFix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.clearFix {
min-height: 1px;
}

.photo img {
border: 2px #808080 solid; /* 写真の境界線 */
margin-right: 5px; 
margin-bottom: 5px; 
}

.menu ul li{
margin-left:5px;
list-style-type: none;
}

.message_edit_area {
width:250px;
height:30%;
}

/* --- 次、前 --- */
ul.pre_next {
width: 100%; /* リストエリアの幅 */
margin: 0;
padding: 6px 0 10px; /* リストエリアのパディング（上、左右、下） */
list-style-type: none;
}

/* --- リスト項目 --- */
ul.pre_next li {
width: 100px; /* 項目の幅 */
float: left;
}

/* --- 項目内容 --- */
ul.pre_next dl {
width: 90px; /* 内容の幅 */
margin: 0 auto; /* 内容のセンタリング */
font-size: 80%;
}

/* --- 写真エリア --- */
ul.pre_next dt {
/* height: 102px; */ /* 写真エリアの高さ（dt要素の高さを指定する場合） */
margin-bottom: 5px; /* 写真エリアの下マージン */
}
ul.pre_next dt img {
border: 2px #808080 solid; /* 写真の境界線 */
}

/* --- キャプションエリア --- */
ul.pre_next dd {
margin: 0 0 3px; /* キャプションエリアのマージン（上、左右、下） */
line-height: 120%;
}

ul.pre_next dt strong{
  color: #888;
}

