<p>同期中</p>

<script>
  $.ajax({
     type: "GET",
     cache: false,
     url: "<%= user_sync_now_path %>",
     success: function(result){
       location.href = "<%= user_photos_path %>";
     }
  });
</script>

